// les titres
@mixin titres {
    font-size: 24px;
    font-weight: 900;
}

// images des cards
@mixin photo {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: $bordeur-radius $bordeur-radius 0 0;
}

// les cards
@mixin card($bg-color: white) {
    background-color: $bg-color;
    border-radius: $bordeur-radius;
    box-shadow: $shadow;
}

//boutons dégradés
@mixin btn {
    box-shadow: $shadow;
    font-size: $size;
    padding: 15px 20px;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
    color: white;
    background: linear-gradient(to top, #{$color-primary}, #{$color-secondary});
    border: none;
    cursor: pointer;
}

//bouttons hover 
@mixin btnHover {
    opacity: 0.7;
    box-shadow: $shadowHover;
}

// responsivité
@mixin medium-up {
    width: 70%;
    margin: auto;
}